
*{
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}


ul {
  list-style: none;
}

.App {
  text-align: center;
}
nav ul li {
  display: inline;
  padding: 1rem;
}

.topicTag{
  background-color: grey;
  color: orange;
  border: orange 2px solid;
  border-radius: 10px;
  padding: 0.25rem;
}